// generated: {{.Timestamp}}
server_name: "{{.ServerName}}"
host: ::
port: 4222
http_port: 8222

pid_file: /var/run/nats-server.pid
cluster: {
    name: "{{.Region}}"
    listen: "{{.Host}}:7221"
    routes: [
        "nats-route://{{.Region}}.{{.AppName}}.internal:7221"
    ]
    connect_retries: 60
}
gateway: {
    name: "{{.Region}}"
    listen: "{{.Host}}:7222"
    gateways: [
        {{range .GatewayRegions}}{name: "{{.}}", urls:["nats://{{.}}.{{$.AppName}}.internal:7222"]},{{end}}
    ]
}
reconnect_error_reports: 1